In [127]:
%matplotlib inline
import pandas as pd
import matplotlib.pylab as plt
import os
import bokeh
# bokeh.sampledata.download()
from bokeh.sampledata import us_states, us_counties, unemployment
from bokeh.plotting import figure, show, output_file

Creating ~/.bokeh directory
Creating /home/vagrant/.bokeh/data directory
Using data directory: /home/vagrant/.bokeh/data
Downloading: CGM.csv (1589982 bytes)
   1589982 [100.00%]
Downloading: US_Counties.zip (3182088 bytes)
   3182088 [100.00%]
Unpacking: US_Counties.csv
Downloading: unemployment09.csv (253301 bytes)
    253301 [100.00%]
Downloading: AAPL.csv (166698 bytes)
    166698 [100.00%]
Downloading: FB.csv (9706 bytes)
      9706 [100.00%]
Downloading: GOOG.csv (113894 bytes)
    113894 [100.00%]
Downloading: IBM.csv (165625 bytes)
    165625 [100.00%]
Downloading: MSFT.csv (161614 bytes)
    161614 [100.00%]
Downloading: WPP2012_SA_DB03_POPULATION_QUINQUENNIAL.zip (5148539 bytes)
   5148539 [100.00%]
Unpacking: WPP2012_SA_DB03_POPULATION_QUINQUENNIAL.csv
Downloading: gapminder_fertility.csv (64346 bytes)
     64346 [100.00%]
Downloading: gapminder_population.csv (94509 bytes)
     94509 [100.00%]
Downloading: gapminder_life_expectancy.csv (73243 bytes)
     73243 [100.00%]
Downloading: gapminder_regions.csv (7781 bytes)
      7781 [100.00%]

In [5]:
!head -n 10 Tcs_lea_2006071a.txt

In [21]:
!head -n 10 /home/vagrant/datacourse/school_data/surveyData/ag061c.DAT

In [86]:
salariesDF=pd.read_table('Tcs_lea_2006071a.txt', header=0, index_col=None)

In [105]:
widths = [7, 14, 60, 10, 30, 30, 2 ,5, 4, 30, 30, 2, 5, 4, 1, 3, 5, 30, 3, 5, 1, 1, 2, 4 ,9, 11, 1, 2, 2, 1, 5 ,7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7 ,7, 7, 7, 7 ,7, 7, 7, 7, 7, 7, 7, 7, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 ,1 ,1 ,1 ,1 ,1]
districtInfoDF=pd.read_fwf('/home/vagrant/datacourse/school_data/surveyData/ag061c.DAT', widths=widths, header=None)

In [88]:
print salariesDF.shape
salariesDF.tail()

(5366, 15)

,LEAID,PCT_BACH,PCT_ADVC,P_EX_1_5,P_EX6_10,P_EX1120,P_EX2130,P_EXGT30,M_EXP,MBSAL1_5,MBSAL610,MBSA1120,MBSA2130,MBSAGT30,M_BSAL
5361,4846680,77.1,22.3,31.0,23.4,24.2,16.6,4.9,12,40654,43436,47102,56098,60019,46367
5362,4846710,84.8,13.3,21.4,32.9,30.0,13.8,1.9,12,34679,39871,46595,51698,51795,42636
5363,4846740,88.6,11.4,31.4,14.3,45.7,-1.0,-1.0,11,31633,35688,42706,-1,-1,38572
5364,4846770,100.0,0.0,-1.0,-1.0,50.0,-1.0,0.0,12,-1,-1,40008,-1,-2,37096
5365,4899130,78.4,21.6,24.3,16.2,21.6,21.6,16.2,17,29726,33689,41882,44596,40581,37972

In [106]:
new_columns = list(districtInfoDF.columns.values)
new_columns
new_columns[0]= 'LEAID' 
new_columns[16]  = 'CONUM06'
new_columns[11]  = 'LSTATE06'
districtInfoDF.columns = new_columns
# districtInfoDF.describe()
districtInfoDF.LSTATE06.head()

0    AL
1    AL
2    AL
3    AL
4    AL
Name: LSTATE06, dtype: object

In [108]:
## LEAID and county number
districtInfoDF.ix[:, ['LEAID', 'CONUM06', 'LSTATE06']].head()

    LEAID CONUM06 LSTATE06
0  100002   01101       AL
1  100005   01095       AL
2  100006   01095       AL
3  100007   01073       AL
4  100008   01089       AL

In [169]:
mergedDF=pd.merge(salariesDF,districtInfoDF, on='LEAID', how='left')
mergedDF.head()

,LEAID,PCT_BACH,PCT_ADVC,P_EX_1_5,P_EX6_10,P_EX1120,P_EX2130,P_EXGT30,M_EXP,MBSAL1_5,...,75,76,77,78,79,80,81,82,83,84
0,400001,52.0,48.0,33.8,30.1,27.8,7.0,1.3,9,37590,...,R,R,A,R,R,R,R,R,R,R
1,400003,58.8,41.2,41.2,27.7,20.3,10.8,0.0,9,34095,...,R,R,A,R,R,R,R,R,R,R
2,400004,39.1,60.9,13.0,21.7,39.1,26.1,0.0,14,33300,...,R,R,A,R,R,R,R,R,R,R
3,400005,87.5,-1.0,37.5,50.0,-1.0,0.0,0.0,6,33980,...,R,R,A,R,R,R,R,R,R,R
4,400021,72.7,27.3,31.8,31.8,-1.0,18.2,-1.0,12,25839,...,R,R,A,R,R,R,R,R,R,R

In [215]:
import string
def zero_strip(this_str):
    return this_str.lstrip('0')
def format_nums(this_num):
    return "{:.2f}".format(this_num).lstrip('0')
# mergedDF['CONUM06']=mergedDF['CONUM06'].apply(zero_strip)
avg_merged=mergedDF.groupby('CONUM06').mean().copy()
avg_merged.index
avg_merged=avg_merged.reset_index()

In [216]:
avg_merged['CONUM06']=avg_merged['CONUM06'].apply(zero_strip)
avg_merged['MBSAL1_5_scaled']=avg_merged['MBSAL1_5']/avg_merged['MBSAL1_5'].max()
avg_merged=avg_merged[avg_merged['MBSAL1_5_scaled']>0]
avg_merged['MBSAL1_5_scaled']=avg_merged['MBSAL1_5_scaled'].apply(format_nums)
avg_merged

,CONUM06,LEAID,PCT_BACH,PCT_ADVC,P_EX_1_5,P_EX6_10,P_EX1120,P_EX2130,P_EXGT30,M_EXP,...,49,50,51,52,53,54,55,61,62,MBSAL1_5_scaled
0,4001,404652.909091,62.572727,30.672727,19.600000,32.981818,24.272727,9.109091,1.209091,11.090909,...,1.045455,5.227273,1.590909,2.109091,4.272727,12.836364,15.218182,NaN,NaN,.51
1,4003,404466.600000,55.480000,34.935000,23.605000,19.255000,22.250000,8.475000,2.080000,12.650000,...,0.975000,1.045000,1.170000,1.810000,2.620000,6.340000,6.805000,NaN,NaN,.52
2,4005,405302.888889,62.177778,34.866667,30.466667,27.400000,20.433333,4.122222,0.433333,9.666667,...,2.811111,14.977778,1.766667,2.533333,8.866667,16.155556,13.488889,NaN,NaN,.56
3,4007,404761.800000,57.730000,18.190000,22.940000,19.370000,15.500000,6.670000,1.420000,8.500000,...,1.140000,1.180000,1.110000,1.140000,2.700000,6.700000,6.290000,NaN,NaN,.48
4,4009,404117.666667,65.711111,22.955556,36.211111,10.544444,29.988889,6.522222,1.544444,10.777778,...,0.666667,0.666667,0.777778,0.977778,2.000000,4.422222,4.444444,NaN,NaN,.59
5,4011,403343.333333,58.600000,41.400000,29.066667,25.466667,36.200000,6.333333,-0.333333,10.333333,...,0.200000,0.833333,0.833333,0.333333,2.166667,4.433333,7.766667,NaN,NaN,.63
6,4012,404055.833333,70.916667,26.683333,26.383333,40.866667,10.300000,1.133333,0.733333,8.500000,...,0.166667,1.666667,0.933333,1.166667,1.383333,3.050000,8.066667,NaN,NaN,.50
7,4013,404312.921875,58.478125,34.776562,43.276563,21.389062,17.160937,6.039062,0.695313,8.171875,...,8.278125,20.145312,2.728125,5.689063,21.468750,51.359375,72.248438,NaN,NaN,.71
8,4015,404189.928571,65.900000,18.371429,30.650000,18.600000,17.985714,3.221429,-0.157143,9.142857,...,1.107143,2.535714,1.385714,0.857143,4.035714,11.335714,10.835714,NaN,NaN,.50
9,4017,404997.416667,58.741667,31.933333,24.491667,23.850000,28.675000,11.433333,1.858333,10.250000,...,1.350000,3.141667,2.591667,1.958333,5.341667,12.758333,13.583333,NaN,NaN,.63
10,4019,404180.117647,45.617647,36.035294,33.447059,16.864706,16.664706,9.782353,0.564706,8.470588,...,7.464706,13.435294,2.758824,5.523529,22.611765,50.017647,57.117647,NaN,NaN,.58
11,4021,404786.095238,59.814286,34.542857,36.185714,22.433333,19.928571,6.347619,0.342857,9.000000,...,1.566667,1.547619,1.590476,1.709524,4.842857,11.109524,18.242857,NaN,NaN,.58
12,4023,405847.714286,41.157143,25.971429,10.928571,16.428571,19.328571,5.857143,0.585714,11.000000,...,0.485714,4.071429,1.071429,0.557143,4.642857,10.328571,4.142857,NaN,NaN,.33
13,4025,403641.157895,57.100000,25.247368,29.394737,17.742105,22.447368,5.215789,0.368421,8.421053,...,0.631579,3.026316,1.157895,1.605263,3.015789,3.915789,12.605263,NaN,NaN,.58
14,4027,405937.000000,58.390000,28.280000,28.000000,15.460000,27.540000,9.180000,-0.170000,11.700000,...,2.900000,13.640000,1.960000,2.110000,9.380000,17.720000,28.710000,NaN,NaN,.53
15,5001,506480.500000,74.750000,25.250000,19.650000,17.950000,25.650000,22.250000,14.500000,17.000000,...,4.500000,0.000000,3.500000,6.500000,8.000000,11.000000,15.000000,NaN,NaN,.69
16,5003,502421.000000,65.300000,34.700000,24.250000,13.800000,29.250000,26.350000,6.350000,15.000000,...,5.000000,0.000000,3.500000,7.500000,9.000000,15.500000,17.500000,NaN,NaN,.66
17,5005,505094.333333,75.200000,24.633333,19.766667,20.333333,34.500000,19.666667,2.433333,14.333333,...,3.333333,1.333333,2.333333,7.666667,5.666667,9.000000,12.000000,NaN,NaN,.67
18,5007,506115.625000,71.100000,28.262500,36.675000,16.150000,26.775000,15.012500,3.487500,11.625000,...,6.875000,5.250000,4.000000,12.500000,13.500000,26.375000,33.000000,NaN,NaN,.77
19,5009,506740.000000,66.050000,33.866667,23.566667,18.916667,33.433333,17.116667,3.250000,13.666667,...,2.833333,-0.333333,1.333333,4.833333,3.333333,4.666667,8.333333,NaN,NaN,.68
20,5011,503858.000000,61.800000,37.200000,22.700000,22.200000,21.700000,23.600000,9.800000,15.000000,...,3.000000,0.000000,1.500000,5.500000,4.500000,9.500000,12.000000,NaN,NaN,.70
21,5013,507230.000000,75.000000,25.000000,15.900000,15.900000,29.500000,25.000000,13.600000,17.000000,...,2.000000,0.000000,1.000000,3.000000,2.000000,3.000000,5.000000,NaN,NaN,.71
22,5015,505330.000000,59.266667,40.733333,26.666667,17.966667,23.633333,19.300000,12.466667,14.666667,...,2.666667,2.000000,1.666667,8.000000,4.333333,4.666667,8.000000,NaN,NaN,.69
23,5017,506905.000000,67.950000,32.050000,41.050000,8.750000,28.850000,12.400000,8.900000,12.000000,...,3.000000,0.000000,3.500000,7.000000,4.000000,4.500000,14.500000,NaN,NaN,.68
24,5019,505410.000000,58.266667,41.200000,17.566667,18.666667,33.333333,23.033333,7.333333,15.333333,...,3.666667,-0.333333,2.666667,5.666667,5.000000,8.000000,11.666667,NaN,NaN,.66
25,5021,505249.666667,53.400000,46.600000,19.600000,18.266667,22.900000,25.366667,13.933333,16.666667,...,2.333333,0.333333,2.000000,3.666667,3.333333,2.666667,8.666667,NaN,NaN,.68
26,5023,509510.000000,69.000000,30.400000,19.000000,18.300000,29.325000,24.700000,7.775000,15.500000,...,2.250000,0.250000,2.000000,3.750000,3.000000,4.500000,7.000000,NaN,NaN,.64
27,5025,507233.500000,75.300000,24.700000,13.000000,24.200000,39.550000,15.100000,4.650000,14.500000,...,2.500000,0.000000,1.500000,3.500000,3.000000,5.000000,6.000000,NaN,NaN,.68
28,5027,500056.000000,68.450000,31.550000,15.000000,23.200000,29.900000,24.400000,7.500000,15.500000,...,3.500000,0.500000,2.500000,9.000000,8.000000,6.000000,14.000000,NaN,NaN,.69
29,5029,512433.333333,66.033333,33.733333,21.933333,18.466667,28.366667,23.900000,4.433333,15.333333,...,2.333333,0.000000,2.000000,5.333333,5.000000,7.333333,5.333333,NaN,NaN,.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386,48449,4828565.000000,88.900000,6.650000,32.875000,25.525000,25.950000,10.125000,3.350000,11.000000,...,1.250000,0.475000,3.250000,5.800000,11.900000,12.725000,9.300000,NaN,NaN,.67
1387,48451,4834578.333333,80.300000,19.033333,17.000000,20.833333,36.983333,15.433333,0.700000,13.666667,...,2.666667,0.500000,3.383333,11.783333,12.950000,14.600000,11.666667,NaN,NaN,.55
1388,48453,4807386.045455,74.931818,20.254545,53.845455,17.045455,12.172727,5.050000,1.354545,7.681818,...,7.600000,3.404545,5.900000,27.590909,29.650000,28.118182,23.690909,7,NaN,.78
1389,48455,4821742.500000,91.025000,1.900000,20.975000,16.250000,34.400000,17.200000,2.725000,13.000000,...,0.250000,1.375000,1.250000,1.125000,2.475000,2.950000,3.950000,NaN,NaN,.47
1390,48457,4832146.000000,86.900000,12.280000,27.820000,17.860000,30.480000,16.020000,2.380000,12.800000,...,0.600000,0.000000,1.600000,3.960000,3.340000,3.060000,3.720000,NaN,NaN,.65
1391,48459,4829541.428571,82.000000,15.985714,20.285714,20.214286,30.642857,23.514286,3.985714,14.428571,...,1.428571,0.714286,1.857143,4.314286,4.885714,4.000000,4.942857,NaN,NaN,.64
1392,48461,4833105.000000,88.250000,8.750000,27.950000,10.600000,32.950000,21.100000,-0.500000,13.500000,...,0.400000,0.000000,1.750000,1.800000,2.000000,3.000000,3.000000,NaN,NaN,.72
1393,48463,4830335.400000,91.280000,8.720000,34.980000,18.820000,25.360000,13.780000,2.780000,11.200000,...,1.400000,1.400000,2.400000,4.840000,7.280000,5.100000,6.240000,NaN,NaN,.64
1394,48465,4826910.000000,91.100000,8.550000,25.950000,21.750000,32.750000,11.500000,4.200000,12.500000,...,6.400000,13.500000,5.950000,18.850000,16.800000,17.900000,14.850000,NaN,NaN,.71
1395,48467,4823956.375000,87.900000,11.337500,19.612500,19.975000,28.625000,14.900000,2.800000,12.625000,...,1.162500,1.075000,2.275000,2.812500,4.225000,5.050000,5.512500,NaN,NaN,.59
1396,48469,4822040.750000,79.050000,6.675000,31.900000,8.350000,22.500000,19.750000,3.075000,13.500000,...,4.500000,1.750000,7.250000,16.550000,18.600000,17.125000,20.450000,NaN,NaN,.50
1397,48471,4828335.000000,85.300000,14.450000,26.350000,15.450000,30.500000,22.800000,4.900000,14.000000,...,5.000000,1.400000,6.000000,12.750000,17.000000,17.700000,14.400000,NaN,NaN,.69
1398,48473,4835180.000000,83.633333,16.033333,40.966667,21.233333,19.233333,13.766667,4.833333,11.000000,...,3.533333,0.900000,3.666667,12.400000,12.933333,12.633333,10.833333,NaN,NaN,.80
1399,48475,4826325.000000,84.550000,15.450000,25.600000,22.250000,20.750000,22.100000,9.250000,14.000000,...,1.850000,0.000000,2.000000,1.600000,3.100000,6.000000,4.050000,NaN,NaN,.65
1400,48477,4811760.000000,81.850000,17.200000,21.300000,9.150000,29.650000,29.250000,2.500000,15.500000,...,1.500000,5.200000,3.500000,11.200000,10.000000,12.950000,9.250000,NaN,NaN,.70
1401,48479,4828856.000000,80.000000,15.850000,26.225000,21.250000,29.425000,14.275000,6.925000,12.750000,...,17.200000,12.475000,21.125000,81.750000,68.450000,86.475000,72.825000,0,NaN,.81
1402,48481,4824124.000000,87.640000,10.700000,18.500000,21.160000,31.800000,20.580000,7.980000,15.000000,...,1.600000,0.680000,2.160000,6.420000,6.600000,9.120000,5.080000,NaN,NaN,.73
1403,48483,4830502.500000,80.025000,18.125000,22.700000,11.350000,36.675000,22.625000,3.900000,14.250000,...,0.250000,0.250000,1.125000,1.550000,1.350000,1.625000,2.875000,NaN,NaN,.64
1404,48485,4819109.333333,82.933333,15.450000,22.783333,16.350000,26.300000,16.183333,9.566667,14.666667,...,4.533333,3.316667,5.166667,15.133333,15.166667,15.050000,18.983333,NaN,NaN,.64
1405,48487,4833273.333333,91.166667,4.366667,27.566667,12.900000,25.766667,16.633333,2.666667,14.000000,...,0.233333,2.233333,1.800000,2.500000,2.500000,4.000000,3.866667,NaN,NaN,.64
1406,48489,4832752.500000,89.150000,8.925000,38.125000,16.775000,23.625000,12.475000,5.975000,11.750000,...,1.250000,0.875000,3.875000,8.250000,4.350000,6.075000,7.000000,NaN,NaN,.75
1407,48491,4825277.916667,78.716667,10.950000,29.033333,19.041667,26.966667,10.475000,4.041667,11.166667,...,7.916667,4.550000,10.075000,28.975000,29.641667,33.241667,32.850000,NaN,NaN,.66
1408,48493,4830705.000000,88.250000,10.075000,26.675000,16.700000,30.375000,20.750000,5.525000,13.750000,...,1.925000,0.750000,2.650000,7.575000,8.525000,15.000000,9.250000,NaN,NaN,.72
1409,48495,4835865.000000,84.400000,14.950000,26.400000,15.150000,26.100000,27.300000,2.050000,14.000000,...,0.500000,0.500000,2.500000,1.750000,3.050000,6.000000,5.000000,NaN,NaN,.72
1410,48497,4819354.285714,82.900000,16.142857,25.528571,18.757143,30.714286,18.700000,5.428571,13.857143,...,1.128571,0.714286,2.071429,4.857143,5.871429,7.114286,4.314286,NaN,NaN,.71
1411,48499,4831740.000000,76.133333,22.050000,28.200000,16.000000,30.033333,19.000000,5.350000,13.500000,...,0.950000,0.500000,2.250000,4.166667,4.566667,4.633333,3.700000,NaN,NaN,.66
1412,48501,4825905.000000,89.750000,9.700000,23.250000,24.750000,29.550000,18.100000,3.350000,13.000000,...,1.500000,0.000000,2.000000,4.000000,4.000000,5.950000,4.100000,NaN,NaN,.72
1413,48503,4829230.000000,88.600000,6.900000,12.000000,23.066667,33.166667,22.533333,4.733333,14.666667,...,0.433333,1.400000,1.766667,4.233333,3.400000,5.166667,5.033333,NaN,NaN,.44
1414,48505,4846710.000000,84.800000,13.300000,21.400000,32.900000,30.000000,13.800000,1.900000,12.000000,...,5.000000,0.000000,2.000000,19.000000,18.000000,13.000000,14.900000,NaN,NaN,.73
1415,48507,4821090.000000,88.750000,9.750000,27.000000,18.950000,24.350000,19.750000,9.950000,14.000000,...,1.000000,1.500000,3.000000,6.850000,4.050000,5.000000,3.000000,NaN,NaN,.75

In [217]:
column_names = list(avg_merged.columns.values)
wanted_columns=column_names[1:15]
wanted_columns.insert(0,column_names[0])
wanted_columns.insert(1,'LSTATE06')
wanted_columns.insert(2, 'CONUM06')
exportCSV=avg_merged.ix[:, ['CONUM06','MBSAL1_5_scaled']]
exportCSV.head()
exportCSV.to_csv('salary2county.csv', sep=' ',index=False)

In [213]:
exportCSV[exportCSV['MBSAL1_5_scaled']>0].describe()

       CONUM06 MBSAL1_5_scaled
count     1416            1416
unique    1416              77
top      48331             .68
freq         1              89

In [210]:
!head -n 10 salary2county.csv

CONUM06 MBSAL1_5_scaled
4001 .51
4003 .52
4005 .56
4007 .48
4009 .59
4011 .63
4012 .50
4013 .71
4015 .50

In [128]:
us_states = us_states.data.copy()
us_counties = us_counties.data.copy()
unemployment = unemployment.data

del us_states["HI"]
del us_states["AK"]

state_xs = [us_states[code]["lons"] for code in us_states]
state_ys = [us_states[code]["lats"] for code in us_states]

county_xs=[us_counties[code]["lons"] for code in us_counties if us_counties[code]["state"] not in ["ak", "hi", "pr", "gu", "vi", "mp", "as"]]
county_ys=[us_counties[code]["lats"] for code in us_counties if us_counties[code]["state"] not in ["ak", "hi", "pr", "gu", "vi", "mp", "as"]]

colors = ["#F1EEF6", "#D4B9DA", "#C994C7", "#DF65B0", "#DD1C77", "#980043"]

county_colors = []
for county_id in us_counties:
    if us_counties[county_id]["state"] in ["ak", "hi", "pr", "gu", "vi", "mp", "as"]:
        continue
    try:
        rate = unemployment[county_id]
        idx = min(int(rate/2), 5)
        county_colors.append(colors[idx])
    except KeyError:
        county_colors.append("black")

output_file("choropleth.html", title="choropleth.py example")

p = figure(title="US Unemployment 2009", toolbar_location="left",
    plot_width=1100, plot_height=700)

p.patches(county_xs, county_ys, fill_color=county_colors, fill_alpha=0.7,
    line_color="white", line_width=0.5)
p.patches(state_xs, state_ys, fill_alpha=0.0,
    line_color="#884444", line_width=2)

show(p)

KeyboardInterrupt: